<div class="auth-wrapper">
  <div class="auth-card" @formEntrance>
    <h2>Create Account</h2>
    <p class="auth-subtitle">Please enter your details to create an account</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" formControlName="name" class="form-control" />
        <small *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched"
          >Name is required.</small
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Email Address</label>
        <input
          type="email"
          formControlName="email"
          placeholder="you@example.com"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="••••••••"
          class="form-control"
        />
      </div>

      <p *ngIf="errorMessage" style="color: #ef4444; font-size: 14px; margin-bottom: 12px">
        {{ errorMessage }}
      </p>
      <button type="submit" class="btn btn-primary w-100" style="padding: 12px">
        Create Account
      </button>
    </form>

    <p class="auth-footer">Already have an account? <a routerLink="/login">Sign in</a></p>
  </div>
</div>
